@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');

.container{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100vh;

  background-color: rgb(39, 39, 39);
}

.apresentação{
  color: white;

  font-family: 'Bebas Neue', sans-serif;
  font-size: 1.5rem;

  height: 80px;
}

.linguagem{
  color: white;

  font-family: 'Bebas Neue', sans-serif;
  font-size: 6rem;

  height: 80px;

}

.developer{
  color: white;

  font-family: 'Bebas Neue', sans-serif;
  font-size: 6rem;

  max-width: 400px;
  width: 100%;
  height: 110px;

}

.name input{
  border: none;

  padding: 4px;

  outline: none;

  background-color: transparent;

  color: white;

  font-family: 'Bebas Neue', sans-serif;
  font-size: 1.5rem;
}

.text-container{
  max-width: 400px;
  width: 100%;
  height: 0px;

  flex-wrap: wrap;

}

.text-container h5{
  color: white;

  font-size: .7rem;

  flex-wrap: wrap;
  
}

.github{
  transition: 1s;
}

.github:hover{
  transform: translateY(-10px);

  transition: 1s;
}

.linkedin-logo{
  transition: 1s;
}

.linkedin-logo:hover{
  transform: translateY(-10px);

  transition: 1s;
}

a{
  color: #FFF3BA;
}